[package]
name = "dependent-language"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
peg = "0.8.0"
itertools = "0.10.3"
typed-arena = "2.0.1"